


*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Now Display";
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    width: 100%;
    height: 100%;
    
}
#nav{
    padding: 30px, 70px;
}

#nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin-right: 30px;
}

#main>h1{
    font-size: 200px;
    font-weight: 20;
    padding-left: 24px;
}

#btmleft{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 2%;
    font-size: 10px;
}

#btmleft h3{
    font-size: 20px;

}

#btmleft p{
    font-size: 9px;
    margin-top: 3px;
    
}

#btmleft h4{
    margin-top: 50px;
    font-size: 15px;
}

#btmbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 27px;
    padding-bottom: 20px;
    
}
#btmbar h1{
    font-size: 20px;
}

#btmbar a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#main>img{
    height: 180px;
    position: absolute;
}

#main #first{
    height: 200px;
    top: 60%;
    left: 50%;
}

#main #second{
    height: 200px;
    top: 50%;
    left: 40%;
}


#main #third{
    height: 200px;
    top: 60%;
    left: 30%;
}
