
@font-face {
    font-family: seb;
    src: url(./sf-pro-text_regular.woff2);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seb;
}

html,body{
    height: 100%;
    width: 100%;
 }

 #main{
    height: 100%;
    width: 100%;
    background-color:black;
 }
 #nav{
    height: 40px;
    width: 100%;
    background-color:rgba(128, 128, 128, 0.262);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
 }

 #nav h4{
    color: white;
    font-weight: 300;
    font-size: 14px;
 }
 #center{
    height: 80%;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 50px;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-size: cover;
    background-position: center;
 }

 #center h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
    
 }
 #center h5{
    color: white;
    font-size: 20px;
    font-weight: 400;
 }

 #links{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;

    }
 #links button{
   background-color : royalblue;
   color: white;
   padding: 13px, 20px;
   border-radius: 50px;
   border: none;
   height: 30px;
   width: 80px;
   

 }
 #white{
    height: 20%;
    width: 100%;
    background-color: white;
 }

 

