*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seb;
}

html,body{
    height: 100%;
    width: 100%;
 }

 #main{
   height: 100%;
   width: 100%;
   background-color: lightblue;
   padding: 20px;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   
 }
 .card{
   height: 300px;
   width: 250px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.184);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
 }

 .card img{
   height: 120px;
   width: 120px;
   object-fit: cover;
   border-radius: 50%;
   
 }

 .card h1{
   font-size: 25px;
   font-weight: 500;
 }

 .card p{
   font-weight: 600;
   font-size: 12px;
   color: #888;
   text-align: center;
 }

 .card button{
   border-radius: 50px;
   padding: 10px, 20px;
   border: none;
   background-color: rgba(52, 204, 255);
   height: 30px;
   width: 80px;
   color: white;
   font-weight: 600;
   border: 2px solid rgba(52, 204, 255);
 }

 .card button:hover{
   background-color: transparent;
   color: rgba(52, 204, 255);
 }

 
 
    
 