*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
 body{
    height: 100%;
    width: 100%;
 }

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;


    section{
        height: 100%;
        flex-grow: 1;
        background-color: rgba(148, 7, 7);
        background-size: cover;
        background-position: center;
        
    }

    section:hover{
        flex-grow: 3;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }

    section:nth-child(1){
        background-image: url(./Ironman.jpg);
        
    }

    section:nth-child(2){
        background-image: url(./loki.jpg);
    }

    section:nth-child(3){
        background-image: url(https://tse4.mm.bing.net/th/id/OIP.FPNEdCgCQoLtc0CZJ-3jLgHaO0?w=720&h=1440&rs=1&pid=ImgDetMain&o=7&rm=3);

    }

    section:nth-child(4){
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5878ce12-2708-4f51-8efb-286d785394fb/dhw2lrn-ca956d4e-2f8a-4073-930d-193d7554ffc9.png/v1/fill/w_894,h_894,q_70,strp/robert_downey_jr_doctor_doom_by_desmondking_dhw2lrn-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0OCIsInBhdGgiOiJcL2ZcLzU4NzhjZTEyLTI3MDgtNGY1MS04ZWZiLTI4NmQ3ODUzOTRmYlwvZGh3Mmxybi1jYTk1NmQ0ZS0yZjhhLTQwNzMtOTMwZC0xOTNkNzU1NGZmYzkucG5nIiwid2lkdGgiOiI8PTIwNDgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.s_QI64cmAZ8BuZ51HWIPb15GzbbHRr7bCRFvN9jOHL8);

    }

    section:nth-child(5){
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/160e0233-e72c-4b90-b836-dda59404e24f/d9lz3y8-565a3d9b-d640-4c6e-90b2-04e8d62222df.jpg/v1/fill/w_670,h_1192,q_70,strp/deadpool_poster_by_jpgraphic_d9lz3y8-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkyMCIsInBhdGgiOiJcL2ZcLzE2MGUwMjMzLWU3MmMtNGI5MC1iODM2LWRkYTU5NDA0ZTI0ZlwvZDlsejN5OC01NjVhM2Q5Yi1kNjQwLTRjNmUtOTBiMi0wNGU4ZDYyMjIyZGYuanBnIiwid2lkdGgiOiI8PTEwODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.G-TFBGX733rXxY1Zzs_U0bXjfgokzKxRqP4Dh7SctT8);

    }
}