



@font-face {
    font-family: hey;
    src: url(./Tomatoes-O8L8.ttf);
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);
    background-size: cover;
    
}

h1{
    color: black;
    font-size: 50px;
    font-weight: 60px;
    text-align: center;
    font-family: hey;
}


button:hover{
    background-color: orange;
    transform: scale(1.05);
    text-align: center;
    height: 25px;
    width: 100px;
    margin-right: 700px;
    margin-left:700px ;
    border-radius: 10px;
    color: white;
    border-color: white;
}