*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
    
}

#main1{
    height: 20%;
    width: 100%;
   background-color: rgba(25, 25, 112, 0.729);
   padding: 40px;
}

h1{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#main2{
    height: 15%;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    

}

h2{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
    
}

#dem{
     color: black;
     text-align: center;
     font-size: 15px;
     text-align: center;
     
    
}
#main3{

    height: 20%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
     margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color:  rgba(135, 207, 235, 0.614);
    

    
}
h3{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
    
}

#outer{
height: 20%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 20px;
margin-bottom: 20px;
padding: 3px;
}

#c{
    color: black;
    text-align: center;
    font-size: 15px;
}

#inner{
height: 20%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 3px;
}

#d{
    color: black;
    text-align: center;
    font-size: 15px;
}

#main4{
    height: 28%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
     margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: beige;
    padding-bottom: 20px;
}

#one{
height: 15%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#e{
   color: black;
    text-align: center;
    font-size: 15px; 
}

#two{
    height: 15%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#f{
   color: black;
    text-align: center;
    font-size: 15px; 
} 

#three{
    height: 15%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#g{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#four{
    height: 15%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#h{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#main5{
    height: 25%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
     margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: lavender;
    padding-bottom: 20px;
}

#five{
    height: 18%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#i{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#six{
    height: 18%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#j{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#seven{
    height: 18%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#k{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#main6{
    height: 25%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: Arial,  sans-serif;
     margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color:rgba(255, 182, 217, 0.64);
    padding-bottom: 20px;
}

#eight{
    height: 20%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#l{
    color: black;
    text-align: center;
    font-size: 15px; 
}

#nine{
    height: 20%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#m{
    color: black;
    text-align: center;
    font-size: 15px; 
}


#ten{
    height: 20%;
width: 50%;
background-color: white;
margin-left: 300px;
margin-right: 160px;
margin-top: 10px;
margin-bottom: 10px;
padding: 5px;
}

#n{
    color: black;
    text-align: center;
    font-size: 15px; 
}




